<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="JsonFilePath"
             type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <JsonFilePath>
    <add key="JsonRoot" value="D:\CodeDev\IronKnightTank\Program\Tank\Assets\GameResource\Data\" />

    <add key="Achievement.json" value="AchievementConfig" />
    <add key="AchievementTag.json" value="AchievementTagConfig" />
    <add key="AINickname.json" value="AINickNameConfig" />
    <add key="BattleRankAward.json" value="BNBattleAwardConfig" />
    <add key="Battle.json" value="BNBattleConfig" />
    <add key="MarketConfig.json" value="MarketConfig" />
    <add key="MarketGoodsConfig.json" value="MarketGoodsConfig" />
    <add key="Item.json" value="ItemConfig" />
    <add key="TreasureChestDrop.json" value="TreasureChestDropConfig" />
    <add key="MarketDropGroup.json" value="SubDropGroupConfig" />
    <add key="QuestGroup.json" value="SubDropGroupConfig" />
    <add key="SubDropGroup.json" value="SubDropGroupConfig" />
    <add key="TagGroup.json" value="SubDropGroupConfig" />
    <add key="TeamGroup.json" value="SubDropGroupConfig" />
    <add key="AchievementTag.json" value="AchievementTagConfig" />
    <add key="Achievement.json" value="AchievementConfig" />
    <add key="Story.json" value="HeroStoryConfig" />
    <add key="HeroBiography.json" value="HeroBiographyConfig" />
    <add key="SquadBiography.json" value="SquadBiographyConfig" />
    <add key="TopDecks.json" value="TopDecksConfig" />
    <add key="langtext.json" value="TopDecksConfig" />
    <add key="Comments.json" value="CommentConfig" />
    <add key="MailTemplate.json" value="MailTemplateConfig" />
    <add key="Tips.json" value="TipsConfig" />
    <add key="BNBattleRank.json" value="BNBattleRankConfig" />
    <add key="Battle.json" value="" />
  </JsonFilePath>
</configuration>