{"Version":"0.1.1","LuaCommandPath":["Assets/GameResource/Lua/Framework/LetsTrigger/Builtin/Action","Assets/GameResource/Lua/Framework/LetsTrigger/Builtin/Variable","Assets/GameResource/Lua/User/Script/Builtin/Commands"],"TriggerPoint":[{"Name":"MSGRPGAnyEvent","Path":"自动执行"},{"Name":"MSGEntryWayPoint","Path":"路点/进入路点"},{"Name":"MSGLeaveWayPoint","Path":"路点/离开路点"},{"Name":"MSGEntryScene","Path":"游戏/进入场景"},{"Name":"MSGLeaveScene","Path":"游戏/离开场景"},{"Name":"MSGLevelUp","Path":"人物/角色升级"},{"Name":"MSGUserClick","Path":"玩家点击"},{"Name":"MSGGetItem","Path":"人物/获得物品"},{"Name":"MSGGetCard","Path":"人物/获得卡牌"}]}